In [1]:
# Carreguem llibreries
import pandas as pd
import matplotlib.pyplot as plt
import bar_chart_race as bcr
import warnings
warnings.filterwarnings('ignore')

In [2]:
#Carreguem les dades
data_raw = pd.read_csv('player_stats.csv')

In [3]:
data_raw = data_raw.drop('Unnamed: 0', axis=1)
data_raw

,idx,alies,nom,equip,temp,div,edat,PJ,PT,PC,PS,MIN,TG,TV,G
0,0,Albert Cano,Albert Cano López,Mallorca B,2002-03,2ªB,19.0,15,6,3,9,551,2,0,1
1,0,Albert Cano,Albert Cano López,Mallorca B,2003-04,2ªB,20.0,15,8,5,7,707,2,1,0
2,0,Albert Cano,Albert Cano López,Albacete,2004-05,1ª,21.0,2,1,1,1,118,0,0,0
3,0,Albert Cano,Albert Cano López,Albacete,2005-06,2ª,22.0,0,0,0,0,0,0,0,0
4,0,Albert Cano,Albert Cano López,Almansa,2005-06,2ªB,22.0,7,5,4,2,471,4,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4387,863,Planas,Juan Planas Ferragut,Constancia,1977-78,NaN,20.0,-,-,-,-,-,-,-,-
4388,863,Planas,Juan Planas Ferragut,Constancia,1979-80,NaN,22.0,-,-,-,-,-,-,-,-
4389,863,Planas,Juan Planas Ferragut,Poblense,1980-81,NaN,23.0,-,-,-,-,-,-,-,-
4390,863,Planas,Juan Planas Ferragut,Poblense,1982-83,2ªB,25.0,19,10,5,9,1007,2,0,0
4391,864,Sureda,Antoni Sureda Jiménez,Manresa,2022-23,2ªRf,23.0,12,4,1,8,399,0,0,1

In [4]:
# eliminem els jugadors que no tenim dades sobre la divisió en la que jugaren
df = data_raw[data_raw['div'].notna()].reset_index(drop=True)
df

,idx,alies,nom,equip,temp,div,edat,PJ,PT,PC,PS,MIN,TG,TV,G
0,0,Albert Cano,Albert Cano López,Mallorca B,2002-03,2ªB,19.0,15,6,3,9,551,2,0,1
1,0,Albert Cano,Albert Cano López,Mallorca B,2003-04,2ªB,20.0,15,8,5,7,707,2,1,0
2,0,Albert Cano,Albert Cano López,Albacete,2004-05,1ª,21.0,2,1,1,1,118,0,0,0
3,0,Albert Cano,Albert Cano López,Albacete,2005-06,2ª,22.0,0,0,0,0,0,0,0,0
4,0,Albert Cano,Albert Cano López,Almansa,2005-06,2ªB,22.0,7,5,4,2,471,4,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3660,862,Brondo,Jaime Brondo Ferrer,Mallorca,1947-48,2ª,25.0,15,15,14,0,1315,0,1,2
3661,862,Brondo,Jaime Brondo Ferrer,Atlético Baleares,1951-52,2ª,29.0,1,1,0,0,88,0,1,0
3662,862,Brondo,Jaime Brondo Ferrer,Atlético Baleares,1952-53,2ª,30.0,19,19,19,0,1710,0,0,5
3663,863,Planas,Juan Planas Ferragut,Poblense,1982-83,2ªB,25.0,19,10,5,9,1007,2,0,0
3664,864,Sureda,Antoni Sureda Jiménez,Manresa,2022-23,2ªRf,23.0,12,4,1,8,399,0,0,1

In [5]:
#subset de les cols que ens interessen
df_goals = df[['idx','temp','alies','nom', 'G']]
df_goals['G'] = df_goals['G'].astype('int')
df_goals

      idx     temp        alies                    nom  G
0       0  2002-03  Albert Cano      Albert Cano López  1
1       0  2003-04  Albert Cano      Albert Cano López  0
2       0  2004-05  Albert Cano      Albert Cano López  0
3       0  2005-06  Albert Cano      Albert Cano López  0
4       0  2005-06  Albert Cano      Albert Cano López  1
...   ...      ...          ...                    ... ..
3660  862  1947-48       Brondo    Jaime Brondo Ferrer  2
3661  862  1951-52       Brondo    Jaime Brondo Ferrer  0
3662  862  1952-53       Brondo    Jaime Brondo Ferrer  5
3663  863  1982-83       Planas   Juan Planas Ferragut  0
3664  864  2022-23       Sureda  Antoni Sureda Jiménez  1

[3665 rows x 5 columns]

In [6]:
# sumem tos els gols per temporada (hi ha jugadors que han marcat amb més d'un equip la mateixa temporada)
def sum_unique(s):
    return s.unique().sum()


df_goals = df_goals.groupby(['temp','nom'], sort=False, as_index=False).agg(
    idx=('idx','first'),
    temp=('temp', 'first'),
    nom=('nom', 'first'),
    G=('G', sum_unique)
)
df_goals

      idx     temp                    nom  G
0       0  2002-03      Albert Cano López  1
1       0  2003-04      Albert Cano López  0
2       0  2004-05      Albert Cano López  0
3       0  2005-06      Albert Cano López  1
4       0  2006-07      Albert Cano López  1
...   ...      ...                    ... ..
3402  862  1947-48    Jaime Brondo Ferrer  2
3403  862  1951-52    Jaime Brondo Ferrer  0
3404  862  1952-53    Jaime Brondo Ferrer  5
3405  863  1982-83   Juan Planas Ferragut  0
3406  864  2022-23  Antoni Sureda Jiménez  1

[3407 rows x 4 columns]

In [7]:
# Trasposem el df i replenem amb 0 els valor nan
df_goals_T = df_goals.pivot_table(index='nom', columns='temp', values='G').T.fillna(0).astype(int)
df_goals_T

nom,Abdón Roger Prats Bastidas,Abel Julve Garrido,Abelard Petrús Garriga,Adolfo Enríquez García,Adrian Bibiloni Chinchilla,Adriano Marín Sirvent,Adrià Mercadal Mercadal,Adrián Dalmau Vaquer,Adrián Luna Ruiz,Adrián Montalbán Ribas,...,Ángel Antonio García Fernández,Ángel Cerdà Subirós,Ángel Lozano Giménez,Ángel Mingorance Mérida,Ángel Pedro Sánchez Marín,Ángel Rodado Jareño,Ángel Sánchez Baró,Óscar Montiel Marín,Óscar Navarro Gracia,Óscar Sánchez de Jesús
temp,,,,,,,,,,,,,,,,,,,,,
1928-29,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1929-30,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1930-31,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1931-32,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1932-33,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-19,5,0,0,0,0,0,0,19,0,0,...,0,0,0,0,0,9,0,0,0,0
2019-20,0,0,0,5,0,0,0,4,0,0,...,0,0,0,0,0,13,1,0,0,0
2020-21,10,0,0,6,0,0,0,4,0,0,...,0,0,0,0,0,5,9,0,0,0
2021-22,3,0,0,9,0,0,0,2,0,0,...,0,0,0,0,0,7,10,0,0,0
2022-23,0,0,0,0,0,0,1,4,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
# eliminem els jugadors que no han marcat cap gol
df_goals_clean = df_goals_T.loc[:, (df_goals_T != 0).any(axis=0)]
df_goals_clean

nom,Abdón Roger Prats Bastidas,Adolfo Enríquez García,Adriano Marín Sirvent,Adrià Mercadal Mercadal,Adrián Dalmau Vaquer,Adrián Turmo Jodar,Agustín Sánchez González,Aitor Pons Goñalons,Aitor Ramírez Espejo,Albert Cano López,...,Víctor Manuel Casadesús Castaño,Víctor Narro Valero,Xavier Pascual Boada,Xavier Sintes Egea,Álvaro Martínez Recio,Álvaro de Dios García,Ángel Antonio García Fernández,Ángel Rodado Jareño,Ángel Sánchez Baró,Óscar Montiel Marín
temp,,,,,,,,,,,,,,,,,,,,,
1928-29,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1929-30,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1930-31,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1931-32,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1932-33,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-19,5,0,0,0,19,0,0,0,0,0,...,2,0,0,0,0,0,0,9,0,0
2019-20,0,5,0,0,4,0,0,0,0,0,...,5,0,0,0,0,0,0,13,1,0
2020-21,10,6,0,0,4,0,0,5,0,0,...,5,0,0,0,0,0,0,5,9,0
2021-22,3,9,0,0,2,3,0,5,0,0,...,0,6,0,0,0,1,0,7,10,0
2022-23,0,0,0,1,4,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [9]:
# sumem els gols acumulats al llarg de les temporades
prep_df = df_goals_clean.cumsum()
prep_df

nom,Abdón Roger Prats Bastidas,Adolfo Enríquez García,Adriano Marín Sirvent,Adrià Mercadal Mercadal,Adrián Dalmau Vaquer,Adrián Turmo Jodar,Agustín Sánchez González,Aitor Pons Goñalons,Aitor Ramírez Espejo,Albert Cano López,...,Víctor Manuel Casadesús Castaño,Víctor Narro Valero,Xavier Pascual Boada,Xavier Sintes Egea,Álvaro Martínez Recio,Álvaro de Dios García,Ángel Antonio García Fernández,Ángel Rodado Jareño,Ángel Sánchez Baró,Óscar Montiel Marín
temp,,,,,,,,,,,,,,,,,,,,,
1928-29,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1929-30,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1930-31,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1931-32,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1932-33,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-19,69,18,6,0,52,0,22,6,1,3,...,106,0,2,0,1,0,2,10,3,3
2019-20,69,23,6,0,56,0,22,6,1,3,...,111,0,2,0,1,0,2,23,4,3
2020-21,79,29,6,0,60,0,22,11,1,3,...,116,0,2,0,1,0,2,28,13,3
2021-22,82,38,6,0,62,3,22,16,1,3,...,116,6,2,0,1,1,2,35,23,3
2022-23,82,38,6,1,66,3,22,16,1,3,...,116,6,2,1,1,1,2,35,23,3

In [10]:
# funció que expandeix el dataframe per poder fer la visualització animada

def prepare_data(df, steps=5):
    
    df = df.reset_index()
    df.index = df.index * steps
    last_idx = df.index[-1] + 1
    df_expanded = df.reindex(range(last_idx))
    df_expanded['temp'] = df_expanded['temp'].fillna(method='ffill')
    df_expanded = df_expanded.set_index('temp')
    df_expanded = df_expanded.interpolate().astype(int)
    
    return df_expanded

In [11]:
df_exp = prepare_data(prep_df)
df_exp.tail(10)

nom,Abdón Roger Prats Bastidas,Adolfo Enríquez García,Adriano Marín Sirvent,Adrià Mercadal Mercadal,Adrián Dalmau Vaquer,Adrián Turmo Jodar,Agustín Sánchez González,Aitor Pons Goñalons,Aitor Ramírez Espejo,Albert Cano López,...,Víctor Manuel Casadesús Castaño,Víctor Narro Valero,Xavier Pascual Boada,Xavier Sintes Egea,Álvaro Martínez Recio,Álvaro de Dios García,Ángel Antonio García Fernández,Ángel Rodado Jareño,Ángel Sánchez Baró,Óscar Montiel Marín
temp,,,,,,,,,,,,,,,,,,,,,
2020-21,79,30,6,0,60,0,22,12,1,3,...,116,1,2,0,1,0,2,29,15,3
2020-21,80,32,6,0,60,1,22,13,1,3,...,116,2,2,0,1,0,2,30,17,3
2020-21,80,34,6,0,61,1,22,14,1,3,...,116,3,2,0,1,0,2,32,19,3
2020-21,81,36,6,0,61,2,22,15,1,3,...,116,4,2,0,1,0,2,33,21,3
2021-22,82,38,6,0,62,3,22,16,1,3,...,116,6,2,0,1,1,2,35,23,3
2021-22,82,38,6,0,62,3,22,16,1,3,...,116,6,2,0,1,1,2,35,23,3
2021-22,82,38,6,0,63,3,22,16,1,3,...,116,6,2,0,1,1,2,35,23,3
2021-22,82,38,6,0,64,3,22,16,1,3,...,116,6,2,0,1,1,2,35,23,3
2021-22,82,38,6,0,65,3,22,16,1,3,...,116,6,2,0,1,1,2,35,23,3
2022-23,82,38,6,1,66,3,22,16,1,3,...,116,6,2,1,1,1,2,35,23,3

In [12]:
# descomentar per realitzar la animació

#top_n = 15
#bcr.bar_chart_race(df_exp, 
#                   n_bars=top_n,
#                   figsize=(8, 5), 
#                   filter_column_colors=True,
#                   period_length = 300,
#                   title=f'Top {top_n} golejadors balears -1ª, 2ª, 2ªB, 1ªRFEF, 2ªRFEF-',
#                   filename=f'top{top_n}_golejadors.mp4')